<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/feedback.css">
    <link rel="stylesheet" href="/styles/icons-extra.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/mui.dtpicker.css">
    <link rel="stylesheet" href="/styles/mui.imageviewer.css">
    <link rel="stylesheet" href="/styles/mui.indexedlist.css">
    <link rel="stylesheet" href="/styles/mui.listpicker.css">
    <link rel="stylesheet" href="/styles/mui.min.css">
    <link rel="stylesheet" href="/styles/mui.picker.all.css">
    <link rel="stylesheet" href="/styles/mui.picker.css">
    <link rel="stylesheet" href="/styles/mui.picker.min.css">
    <link rel="stylesheet" href="/styles/mui.poppicker.css">
    <link rel="stylesheet" href="/styles/pages/home.css">
    <link rel="stylesheet" href="/styles/pages/index.css">
    <link rel="stylesheet" href="/styles/pages/life.css">
    <link rel="stylesheet" href="/styles/pages/nurses_list.css">
    <link rel="stylesheet" href="/styles/pages/user_card.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/aes-min.js"></script>
    <script src="/js/aes.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/core-min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.qrcode.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/md5-min.js"></script>
    <script src="/js/mui/95516.js"></script>
    <script src="/js/mui/ad.js"></script>
    <script src="/js/mui/arttmpl.js"></script>
    <script src="/js/mui/beecloud.js"></script>
    <script src="/js/mui/city.data-3.js"></script>
    <script src="/js/mui/city.data.js"></script>
    <script src="/js/mui/feedback.js"></script>
    <script src="/js/mui/mui.dtpicker.js"></script>
    <script src="/js/mui/mui.enterfocus.js"></script>
    <script src="/js/mui/mui.imageViewer.js"></script>
    <script src="/js/mui/mui.indexedlist.js"></script>
    <script src="/js/mui/mui.js"></script>
    <script src="/js/mui/mui.lazyload.img.js"></script>
    <script src="/js/mui/mui.lazyload.js"></script>
    <script src="/js/mui/mui.listpicker.js"></script>
    <script src="/js/mui/mui.locker.js"></script>
    <script src="/js/mui/mui.min.js"></script>
    <script src="/js/mui/mui.picker.all.js"></script>
    <script src="/js/mui/mui.picker.js"></script>
    <script src="/js/mui/mui.picker.min.js"></script>
    <script src="/js/mui/mui.poppicker.js"></script>
    <script src="/js/mui/mui.previewimage.js"></script>
    <script src="/js/mui/mui.pullToRefresh.js"></script>
    <script src="/js/mui/mui.pullToRefresh.material.js"></script>
    <script src="/js/mui/mui.view.js"></script>
    <script src="/js/mui/mui.zoom.js"></script>
    <script src="/js/mui/update.js"></script>
    <script src="/js/page/appointment.js"></script>
    <script src="/js/page/cer_query.js"></script>
    <script src="/js/page/cer_result.js"></script>
    <script src="/js/page/editInfo.js"></script>
    <script src="/js/page/home.js"></script>
    <script src="/js/page/information.js"></script>
    <script src="/js/page/login.js"></script>
    <script src="/js/page/nurse_home.js"></script>
    <script src="/js/page/nurse_list.js"></script>
    <script src="/js/page/user_card.js"></script>
    <script src="/js/starrr.js"></script>
    <script src="/js/uploadimg/1.chunk.js"></script>
    <script src="/js/uploadimg/2.chunk.js"></script>
    <script src="/js/uploadimg/lrz.all.bundle.js"></script>
    <script src="/js/uploadimg/lrz.bundle.js"></script>
    <script src="/js/zepto.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
