/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
 
@font-face {font-family: "iconfont";
  src:
  url('../fonts/iconfont.ttf?t=1476883268') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1476883268#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gift:before { content: "\e600"; }
.icon-qianbao:before { content: "\e63f"; }
.icon-cart:before { content: "\e601"; }
.icon-home:before { content: "\e602"; }
.icon-order:before { content: "\e603"; }
.icon-personalcenter:before { content: "\e604"; }
.icon-iconfontaddcart:before { content: "\e605"; }
.icon-checkmark:before { content: "\e606"; }
.icon-collect:before { content: "\e607"; }
.icon-edit:before { content: "\e608"; }
.icon-gift1:before { content: "\e609"; }
.icon-news:before { content: "\e60a"; }
.icon-share:before { content: "\e60b"; }
.icon-red:before { content: "\e60c"; }
.icon-notice:before { content: "\e60d"; }
.icon-yduibianxie:before { content: "\e60e"; }
.icon-yduicuowukongxin:before { content: "\e60f"; }
.icon-yduicuowushixin:before { content: "\e610"; }
.icon-yduidanxuankuangxuanzhong:before { content: "\e611"; }
.icon-yduidanxuankuang:before { content: "\e612"; }
.icon-yduidianhua1:before { content: "\e613"; }
.icon-yduierweimasaomiao:before { content: "\e614"; }
.icon-yduifaxian:before { content: "\e615"; }
.icon-yduifenlei:before { content: "\e616"; }
.icon-yduifenxiang1:before { content: "\e617"; }
.icon-yduifenxiang2:before { content: "\e618"; }
.icon-yduifankui:before { content: "\e619"; }
.icon-yduifuxuankuangxuanzhong:before { content: "\e61a"; }
.icon-yduifuxuankuang:before { content: "\e61b"; }
.icon-yduigantanhaokongxin:before { content: "\e61c"; }
.icon-yduigantanhaoshixin:before { content: "\e61d"; }
.icon-yduigerenzhongxinxuanzhong:before { content: "\e61e"; }
.icon-yduigerenzhongxin:before { content: "\e61f"; }
.icon-yduigouxuan:before { content: "\e620"; }
.icon-yduigengduo:before { content: "\e621"; }
.icon-yduigouwuchexuanzhong:before { content: "\e622"; }
.icon-yduigouwuche:before { content: "\e623"; }
.icon-yduihao:before { content: "\e624"; }
.icon-yduihuai:before { content: "\e625"; }
.icon-yduipaibanleixingdatu:before { content: "\e626"; }
.icon-yduishanchu:before { content: "\e627"; }
.icon-yduishezhi:before { content: "\e628"; }
.icon-yduishijian:before { content: "\e629"; }
.icon-yduisousuo:before { content: "\e62a"; }
.icon-yduishuaxin:before { content: "\e62b"; }
.icon-yduiweixin:before { content: "\e62c"; }
.icon-yduitengxunqq:before { content: "\e62d"; }
.icon-yduiwenhao:before { content: "\e62e"; }
.icon-yduizhuye:before { content: "\e62f"; }
.icon-yduixingxingkongxin:before { content: "\e630"; }
.icon-yduixingxingshixin:before { content: "\e631"; }
.icon-yduiyanzhengma:before { content: "\e632"; }
.icon-yduizhengquekongxin:before { content: "\e633"; }
.icon-yduizhengqueshixin:before { content: "\e634"; }
.icon-yduizuji:before { content: "\e635"; }
.icon-yduishoucangkongxin:before { content: "\e636"; }
.icon-yduishoucangshixin:before { content: "\e637"; }
.icon-yduidianhua3:before { content: "\e638"; }
.icon-yduiwodedingdan:before { content: "\e639"; }
.icon-yduizhuyexuanzhong:before { content: "\e63a"; }
.icon-yduifanhui:before { content: "\e63b"; }
.icon-yduiqianjin:before { content: "\e63c"; }
.icon-yduijia:before { content: "\e63d"; }
.icon-yduijian:before { content: "\e63e"; }

 /*自定义*/
.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}
.mui-grid-view.mui-grid-9 .mui-media .mui-icon {
    font-size: 2em;
    position: relative
}
			html,
			body {
				background-color: #efeff4;
			}
			.mui-views,
			.mui-view,
			.mui-pages,
			.mui-page,
			.mui-page-content {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-color: #efeff4;
			}
			.mui-pages {
				top: 46px;
				height: auto;
			}
			.mui-scroll-wrapper,
			.mui-scroll {
				background-color: #efeff4;
			}
			.mui-page.mui-transitioning {
				-webkit-transition: -webkit-transform 300ms ease;
				transition: transform 300ms ease;
			}
			.mui-page-left {
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			.mui-ios .mui-page-left {
				-webkit-transform: translate3d(-20%, 0, 0);
				transform: translate3d(-20%, 0, 0);
			}
			.mui-navbar {
				position: fixed;
				right: 0;
				left: 0;
				z-index: 10;
				height: 44px;
				background-color: #f7f7f8;
			}
			.mui-navbar .mui-bar {
				position: absolute;
				background: transparent;
				text-align: center;
			}
			.mui-android .mui-navbar-inner.mui-navbar-left {
				opacity: 0;
			}
			.mui-ios .mui-navbar-left .mui-left,
			.mui-ios .mui-navbar-left .mui-center,
			.mui-ios .mui-navbar-left .mui-right {
				opacity: 0;
			}
			.mui-navbar .mui-btn-nav {
				-webkit-transition: none;
				transition: none;
				-webkit-transition-duration: .0s;
				transition-duration: .0s;
			}
			.mui-navbar .mui-bar .mui-title {
				display: inline-block;
				width: auto;
			}
			.mui-page-shadow {
				position: absolute;
				right: 100%;
				top: 0;
				width: 16px;
				height: 100%;
				z-index: -1;
				content: '';
			}
			.mui-page-shadow {
				background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
				background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
			}
			.mui-navbar-inner.mui-transitioning,
			.mui-navbar-inner .mui-transitioning {
				-webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
				transition: opacity 300ms ease, transform 300ms ease;
			}
			.mui-page {
				display: none;
			}
			.mui-pages .mui-page {
				display: block;
			}
			.mui-page .mui-table-view:first-child {
				margin-top: 15px;
			}
			.mui-page .mui-table-view:last-child {
				margin-bottom: 30px;
			}
			.mui-table-view {
				margin-top: 20px;
			}
			
			.mui-table-view span.mui-pull-right {
				color: #999;
			}
			.mui-table-view-divider {
				background-color: #efeff4;
				font-size: 14px;
			}
			.mui-table-view-divider:before,
			.mui-table-view-divider:after {
				height: 0;
			}
			.head {
				height: 40px;
			}
			#head {
				line-height: 40px;
			}
			.head-img {
				width: 40px;
				height: 40px;
			}
			#head-img1 {
				position: absolute;
				bottom: 10px;
				right: 40px;
				width: 40px;
				height: 40px;
			}
			.update {
				font-style: normal;
				color: #999999;
				margin-right: -25px;
				font-size: 15px
			}
			.mui-fullscreen {
				position: fixed;
				z-index: 20;
				background-color: #000;
			}
			.mui-ios .mui-navbar .mui-bar .mui-title {
				position: static;
			}
			/*问题反馈在setting页面单独的css*/
			#feedback .mui-popover{
				position: fixed;
			}
			#feedback .mui-table-view:last-child {
			    margin-bottom: 0px;
			}
			#feedback .mui-table-view:first-child {
			    margin-top: 0px;
			}
			/*问题反馈在setting页面单独的css==end*/
.kbd_div{margin-top: 0.5em}
.kbd {
	display: inline-block;
	padding: .25em .5em ;
	margin-right: .5em;
	font: 75%/1 monaco, menlo, consolas, 'courier new', courier, monospace;
	border: solid 1px #ccc;
	border-radius: 3px;
	white-space: nowrap;
	word-wrap: normal;
	/*text-transform: capitalize;*/
	color: #555;
	background-color: #fefefe;
	cursor: pointer;
}
