
body,html{height:100%;-webkit-tap-highlight-color:transparent}
body{font-family:-apple-system-font,Helvetica Neue,Helvetica,sans-serif}
ul{list-style:none}
.page,body{background-color:#f8f8f8;opacity: 1;font-family: '微软雅黑'}


/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
 
@font-face {font-family: "iconfont";
  src:
  url('../fonts/iconfont.ttf?t=1476883268') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1476883268#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pingjia:before { content: "\e655"; }

.icon-gift:before { content: "\e600"; }

.icon-qianbao:before { content: "\e63f"; }

.icon-dengdai:before { content: "\e652"; }

.icon-gouxuan:before { content: "\e6b1"; }

.icon-cart:before { content: "\e601"; }

.icon-home:before { content: "\e602"; }

.icon-order:before { content: "\e603"; }

.icon-personalcenter:before { content: "\e604"; }

.icon-iconfontaddcart:before { content: "\e605"; }

.icon-checkmark:before { content: "\e606"; }

.icon-collect:before { content: "\e607"; }

.icon-edit:before { content: "\e608"; }

.icon-gift1:before { content: "\e609"; }

.icon-news:before { content: "\e60a"; }

.icon-share:before { content: "\e60b"; }

.icon-red:before { content: "\e60c"; }

.icon-notice:before { content: "\e60d"; }

.icon-iconzhuanqu03:before { content: "\e641"; }

.icon-iconfontjiangli:before { content: "\e648"; }

.icon-pingjia1:before { content: "\e69a"; }

.icon-renwufangtanfuben4:before { content: "\e647"; }

.icon-mingpian:before { content: "\e6b4"; }

.icon-gouwuchetianjia:before { content: "\e640"; }

.icon-erweima:before { content: "\e642"; }

.icon-jushoucang:before { content: "\e643"; }

.icon-lianjie:before { content: "\e646"; }

.icon-saoyisao:before { content: "\e649"; }

.icon-shouhuodizhi:before { content: "\e64e"; }

.icon-shouye:before { content: "\e64f"; }

.icon-shuaxin:before { content: "\e650"; }

.icon-sousuo:before { content: "\e651"; }

.icon-tishi:before { content: "\e653"; }

.icon-wancheng:before { content: "\e654"; }

.icon-wodefankui:before { content: "\e657"; }

.icon-wodeyouhuiquan:before { content: "\e65a"; }

.icon-xiala:before { content: "\e65c"; }

.icon-xiangshangjiantou:before { content: "\e65d"; }

.icon-xiangxiajiantou:before { content: "\e65e"; }

.icon-yijianfankui:before { content: "\e662"; }

.icon-lingcunwei:before { content: "\e666"; }

.icon-new:before { content: "\e667"; }

.icon-certificate:before { content: "\e673"; }

.icon-jiangli:before { content: "\e688"; }

.icon-yduibianxie:before { content: "\e60e"; }

.icon-yduicuowukongxin:before { content: "\e60f"; }

.icon-yduicuowushixin:before { content: "\e610"; }

.icon-yduidanxuankuangxuanzhong:before { content: "\e611"; }

.icon-yduidanxuankuang:before { content: "\e612"; }

.icon-yduidianhua1:before { content: "\e613"; }

.icon-yduierweimasaomiao:before { content: "\e614"; }

.icon-yduifaxian:before { content: "\e615"; }

.icon-yduifenlei:before { content: "\e616"; }

.icon-yduifenxiang1:before { content: "\e617"; }

.icon-yduifenxiang2:before { content: "\e618"; }

.icon-yduifankui:before { content: "\e619"; }

.icon-yduifuxuankuangxuanzhong:before { content: "\e61a"; }

.icon-yduifuxuankuang:before { content: "\e61b"; }

.icon-yduigantanhaokongxin:before { content: "\e61c"; }

.icon-yduigantanhaoshixin:before { content: "\e61d"; }

.icon-yduigerenzhongxinxuanzhong:before { content: "\e61e"; }

.icon-yduigerenzhongxin:before { content: "\e61f"; }

.icon-yduigouxuan:before { content: "\e620"; }

.icon-yduigengduo:before { content: "\e621"; }

.icon-yduigouwuchexuanzhong:before { content: "\e622"; }

.icon-yduigouwuche:before { content: "\e623"; }

.icon-yduihao:before { content: "\e624"; }

.icon-yduihuai:before { content: "\e625"; }

.icon-yduipaibanleixingdatu:before { content: "\e626"; }

.icon-yduishanchu:before { content: "\e627"; }

.icon-yduishezhi:before { content: "\e628"; }

.icon-yduishijian:before { content: "\e629"; }

.icon-yduisousuo:before { content: "\e62a"; }

.icon-yduishuaxin:before { content: "\e62b"; }

.icon-yduiweixin:before { content: "\e62c"; }

.icon-yduitengxunqq:before { content: "\e62d"; }

.icon-yduiwenhao:before { content: "\e62e"; }

.icon-yduizhuye:before { content: "\e62f"; }

.icon-yduixingxingkongxin:before { content: "\e630"; }

.icon-yduixingxingshixin:before { content: "\e631"; }

.icon-yduiyanzhengma:before { content: "\e632"; }

.icon-yduizhengquekongxin:before { content: "\e633"; }

.icon-yduizhengqueshixin:before { content: "\e634"; }

.icon-yduizuji:before { content: "\e635"; }

.icon-jiangli1:before { content: "\e64a"; }

.icon-yduishoucangkongxin:before { content: "\e636"; }

.icon-yduishoucangshixin:before { content: "\e637"; }

.icon-yduidianhua3:before { content: "\e638"; }

.icon-yduiwodedingdan:before { content: "\e639"; }

.icon-yduizhuyexuanzhong:before { content: "\e63a"; }

.icon-zengjia:before { content: "\e64c"; }

.icon-pingjia2:before { content: "\e644"; }

.icon-liwu:before { content: "\e685"; }

.icon-yduifanhui:before { content: "\e63b"; }

.icon-yduiqianjin:before { content: "\e63c"; }

.icon-iconfontzengjia:before { content: "\e64d"; }

.icon-mingpian1:before { content: "\e645"; }

.icon-zhengshu:before { content: "\e664"; }

.icon-yduijia:before { content: "\e63d"; }

.icon-yduijian:before { content: "\e63e"; }

.icon-jiangli2:before { content: "\e64b"; }

.icon-gouxuan1:before { content: "\e658"; }

.icon-icon162:before { content: "\e6a0"; }

.icon-zhaofuwu:before { content: "\e656"; }

.icon-zhaofuwu1:before { content: "\e659"; }

.icon-iconfontjiangli1:before { content: "\e517"; }



.fa-star-o:before {content: "\e636"; }
.fa-star:before {content: "\e637"; }








 /*自定义*/
.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
.mui-table-view:after{
	height: 0
}
/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}
.mui-pull{
	font-weight: 400;
	font-family: '微软雅黑'
}
.mui-toast-container{top: 50%;bottom: 50%}
.mui-toast-message{background-color: #000;color: #fff;}
.mui-grid-view.mui-grid-9 .mui-media .mui-icon {
    font-size: 1.6em;
    position: relative
}
.mui-bar .mui-btn-nav.mui-pull-right{margin-right: 0}
			html,
			body {
				background-color: #efeff4;
			}
			.mui-views,
			.mui-view,
			.mui-pages,
			.mui-page,
			.mui-content,
			.mui-page-content {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-color: #efeff4;
			}
			.mui-pages {
				top: 44px;
				height: auto;
			}
			.mui-scroll-wrapper,
			.mui-scroll {
				background-color: #efeff4;
			}
			.mui-page.mui-transitioning {
				-webkit-transition: -webkit-transform 300ms ease;
				transition: transform 300ms ease;
			}
			.mui-page-left {
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			.mui-ios .mui-page-left {
				-webkit-transform: translate3d(-20%, 0, 0);
				transform: translate3d(-20%, 0, 0);
			}
			.mui-navbar {
				position: fixed;
				right: 0;
				left: 0;
				z-index: 10;
				height: 44px;
				background-color: #f7f7f8;
			}
			.mui-navbar .mui-bar {
				position: absolute;
				background: transparent;
				text-align: center;
			}
			.mui-android .mui-navbar-inner.mui-navbar-left {
				opacity: 0;
			}
			.mui-ios .mui-navbar-left .mui-left,
			.mui-ios .mui-navbar-left .mui-center,
			.mui-ios .mui-navbar-left .mui-right {
				opacity: 0;
			}
			.mui-navbar .mui-btn-nav {
				-webkit-transition: none;
				transition: none;
				-webkit-transition-duration: .0s;
				transition-duration: .0s;
			}
			.mui-page-shadow {
				position: absolute;
				right: 100%;
				top: 0;
				width: 16px;
				height: 100%;
				z-index: -1;
				content: '';
			}
			.mui-page-shadow {
				background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
				background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
			}
			.mui-navbar-inner.mui-transitioning,
			.mui-navbar-inner .mui-transitioning {
				-webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
				transition: opacity 300ms ease, transform 300ms ease;
			}
			.mui-page {
				display: none;
			}
			.mui-pages .mui-page {
				display: block;
			}
			.mui-page .mui-table-view:first-child {
				margin-top: 15px;
			}
			.mui-page .mui-table-view:last-child {
				margin-bottom: 30px;
			}
			.mui-table-view {
				margin-top: 20px;
			}
			
			.mui-table-view span.mui-pull-right {
				color: #999;
			}
			.mui-table-view-divider {
				background-color: #efeff4;
				font-size: 14px;
			}
			.mui-table-view-divider:before,
			.mui-table-view-divider:after {
				height: 0;
			}
			.head {
				height: 40px;
			}
			#head {
				line-height: 40px;
			}
			.head-img {
				width: 40px;
				height: 40px;
			}
			#head-img1 {
				position: absolute;
				bottom: 10px;
				right: 40px;
				width: 40px;
				height: 40px;
			}
			.update {
				font-style: normal;
				color: #999999;
				margin-right: -25px;
				font-size: 15px
			}
			.mui-fullscreen {
				position: fixed;
				z-index: 20;
				background-color: #000;
			}

/*.kbd {
	display: inline-block;
	padding:.2em .3em;
	border: solid 1px #f15353 ;
	border-radius: 6px;
	word-wrap: normal;
	color: #f15353 ;
	width: 4.6em;
	height: 1.4em;
	font-size:24px !important;
	background-color: #fff;
    -moz-transform: scale(.5, .5);
    -ms-transform: scale(.5, .5);
    -webkit-transform: scale(.5, .5);
    transform: scale(.5, .5);
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}*/
.kbd {
	display: inline-block;
	width: 24px;
	height: 24px;
}
#getServantList .kbd{
	margin-right: .3em
}
.kbd img{
	width: 24px;
}
.mui-title{font-size: 16px;margin: 0 !important;}
.mui-bar-nav{box-shadow: none;border-bottom: 1px solid #c8c7cc;}
.mui-views, .mui-view, .mui-pages, .mui-page, .mui-page-content{background-color: #f0f2f5}
.mui-table-view.mui-grid-view{background-color: #fff;margin-top: 5px}
.mui-navbar{background-color: #fff;}
.mui-page .mui-table-view:first-child{margin-top: 5px;}
.mui-table-view-cell:after,.mui-table-view-cell:before,.mui-table-view:before,.mui-table-view:after{background-color: #e8ebf0;-webkit-transform:none;transform:none;}
.mui-bar-tab .mui-tab-item.mui-active{color: #e3457d}
.mui-bar .mui-btn-link{color: #e3457d}
.mui-backdrop{background-color: rgba(0,0,0,0.7)}
/*pingjia*/
.starrr {
  display: inline-block; }
  .starrr a {
    font-size: 24px;
    padding: 0 1px;
    cursor: pointer;
    color: #e3457d;
    text-decoration: none; }
