.mui-card-content-inner{
	text-align: center;
}
.card_title{
	color: #007aff
}
.card_content{
	width: 100%;
	text-align: left;
	font-size: .8em;
	color: #ccc;
}
.card_content .mui-icon{
	font-size: .8em;
}
.mui-input-group:first-child {
	margin-top: 20px;
}
.mui-input-group label {
	width: 26%;
}
.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 74%;
}
.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}
.mui-content-padded {
	margin-top: 25px;
	margin-bottom: 70px;
}
.mui-btn {
	padding: 10px;
}
#code{width: 37% !important;float: left;}
#reg,#reg_add{width: 100% !important;font-size: 14px;background-color: #e3457d;border-color: #F11764}
#reg .mui-spinner{
	width: 19px;
	height: 19px;
    margin-top: -5px;
    position: relative;
    top: 5px;
}
.xieyi{
	width: 100%;padding: 15px;
	font-size: 14px;
}
.xieyi .mui-icon{
	font-size: 16px;
	line-height: 16px;
	color: #e3457d;
	position: relative;
	top: 1px;
	margin-right: 5px;
}
#getcode{width: auto !important;padding: 8px;margin-right: 10px;margin-top: 3px;float: right !important;color: #e3457d;background-color: #f0f2f5;border: 1px solid #f0f2f5;border-radius: 6px;}
.information select,.information input,.information button{width: 72% !important;;float: left;font-size: 14px;line-height: 14px;}
.information .select_icon{line-height: 44px;margin-right: 10px;position: relative;top:-40px;color: #ccc;font-size: 20px;}
.information label{font-size: 14px;width: 28%}
.information .mui-input-row label{line-height: 14px;}
.information .mui-input-row label{padding: 13px 15px}
.choose_div{background-color: #FFF;width: 100%;clear: left;position: relative;}
.choose_div .mui-btn{width: 20% !important;margin:auto;height: 30px;line-height: 30px;padding: 0 !important;margin-top: 5px;float: inherit;}
.choose_div label{width: 100% !important;padding: 13px 15px 13px 58px !important;}
#skill,#type{padding-right: 35px !important;overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.choose_div .mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{font-size: 24px;line-height: 30px}
.mui-input-group{margin-top: 10px !important;}
.mui-input-group:last-child{margin-top: 10px !important;}
#image-list {
	width:100%;
	height: 85px;
	background-size: cover;
	padding: 10px 10px;
	overflow: hidden;
}
#image-list .image-item {
	width: 100px;
	height: 65px;
	float: left;
	background-image: url(../../images/upload_bg.png);
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: solid 1px #e8e8e8;
}
#image-list .image-item input[type="file"] {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 0;
}
#image-list .image-item.space {
	border: none;
}
#image-list .image-item .image-close {
	position: absolute;
	display: inline-block;
	right: -6px;
	top: -6px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 12px;
	background-color: #FF5053;
	color: #f3f3f3;
	border: solid 1px #FF5053;
	font-size: 9px;
	font-weight: 200;
	z-index: 1;
}
#image-list .image-item input[type="file"]{
	width: 100% !important
}
#image-list .image-item.space .image-close {
	display: none;
}
.imgtips{margin: 10px 0 0 15px !important}
#image-list .uploadimg{display: none }
.dotips{padding-left: 10px;font-size: 14px;color: #000;margin-top: 10px}
.dotips .mui-icon{color: #e3457d;margin-right: 3px}
.step{
	width: 100%;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	background-color: #fff;
}
.step img{
	width: 100%;
}
.s_selcet{
	font-size: 14px;
	line-height: 40px;
	float: right;
	width: 72%;
}
.s_radio{
	width: 40%;
	float: left;
}
.s_radio label{
	width: 40px;
	padding: 0 !important;
	margin-left: 27px;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color: #f15353!important;
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
	right: 34px;
}
/*.information .mui-input-row .fwjy{
	width: 20px !important;
	float: left;
}
.information .mui-input-row .fwjy_span{
	font-size: 14px;
	line-height: 40px;
}*/
.upload_tips{
	width: 48px;
	line-height: 65px;
	height: 65px;
	float: left;
	font-size: 14px;
}

/*兼容性*/

@media screen and (max-width: 320px) {
	#image-list .image-item {
		width: 90px;
	}
	.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
	    right: 28px;
	}
}