.mui-card-content-inner{
	text-align: center;
}
.card_title{
	color: #007aff
}
.card_content{
	width: 100%;
	text-align: left;
	font-size: .8em;
	color: #ccc;
}
.card_content .mui-icon{
	font-size: .8em;
}
.mui-input-group:first-child {
	margin-top: 20px;
}
.mui-input-group label {
	width: 22%;
}
.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 78%;
}
.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}
.mui-content-padded {
	margin-top: 25px;
}
.mui-btn {
	padding: 10px;
}
#password{width: 40%;float: left;}
.mui-input-row .code{width: auto !important;padding: 8px;margin-right: 10px;margin-top: 3px;}