#slider{
	height: 100px;
}
.mui-slider .mui-slider-group.mui-slider-loop{
	height: 100px
}
.menu{
	width: 100%;
	margin: 20% auto 0 auto;
	text-align: center;
}
.menu .menu_list{
	width: 100px;
	height: 150px;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	padding-top: 40px;
	border-radius: 10px;
	background: -webkit-radial-gradient(#fac13d, #fabb28); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(#fac13d, #fabb28); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(#fac13d, #fabb28); /* Firefox 3.6 - 15 */
    background: radial-gradient(#fac13d, #fabb28); /* 标准的语法（必须放在最后） */
}
.menu .menu_list:first-child{
	margin-right: 10px;
	background: radial-gradient(#26c7fc, #00abf3);
}
.menu .menu_list p{
	font-size: 1em;
	color: #fff;
	margin-top: 8px;
}
.menu .menu_list .mui-icon{
	font-size: 36px;
	color: #fff
}