.choose {
	background-color: #fff;
	padding: 10px 15px;
}

.choose .mui-btn {
	float: left;
	width: auto;
	width: 30%;
	padding: 5px 15px;
	margin: 7px 15px 0 0;
	background-color: #f0f2f5;
	border: 1px solid #f0f2f5;
	border-radius: 5px;
	font-size: 13px;
}

.choose .mui-btn:active {
	background-color: #fff;
	color: #fc5b3e;
}

.choose .mui-btn:last-child {
	margin: 7px 0 0 0;
}

.choose .mui-btn:nth-child(3n+0) {
	margin-right: 0
}

.choose .choosein_btn {
	color: #fc5b3e;
	background-color: #fff;
	border: 1px solid #fc5b3e;
}

.mui-input-group:before {
	background-color: #fff;
}

.choose .mui-input-row:after {
	left: 0
}

li.mui-table-view-cell.mui-media {
	padding-right: 35px
}

.mui-table-view-chevron .mui-table-view-cell>a:not(.mui-btn) {
	margin-right: -35px;
}

.nurses_list ul li span {
	font-size: 14px;
}

.mui-ellipsis {
	font-size: 12px;
	line-height: 24px;
}

.qwxz {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
}

.qwxz font {
	color: #f15353;
}

.ckxz {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #8f8f94
}
.selfEval{
	height: 48px;
	line-height: 24px;
	font-size: 12px;
	color: #8f8f94;
	overflow: hidden;
text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.mui-table-view-cell>a:not(.mui-btn){
	white-space: inherit;
}
.ckxz font {
	color: #f15353;
}

.mui-table-view .mui-media-object {
	width: 90px;
	max-width: 90px;
	height: 90px;
	margin-right: 20px;
	border: 1px solid #f0f2f5;
	border-radius: 3px;
}

.mui-input-row {
	overflow: inherit;
}

#pullrefresh {
	top: 44px;
	height: 100%;
	padding-bottom: 140px
}

#pullrefresh .mui-table-view {
	margin-top: 0
}

.mui-bar-nav~.mui-content .mui-pull-top-pocket {
	top: 0
}

#offCanvasSideScroll {
	background-color: #fff;
}

#offCanvasSideScroll .mui-scroll {
	background-color: #fff;
}

#offCanvasSideScroll .title {
	height: 44px;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	color: #fc5b3e;
	border-bottom: 1px solid #c8c7cc
}

.load_tag {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 44px;
	left: 0;
	background-color: #fff;
	z-index: 9999;
}

.load_tag .mui-pull-loading {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
}

.tag_type {
	width: 100%;
}

.tag_div {
	width: 100%;
	padding: 10px 15px 50px 15px;
	background-color: #fff;
	font-size: 14px;
	float: left;
}

.tag_row .pipcker {
	padding: 6px !important;
	font-size: 14px;
	float: left;
	border: 1px solid #f0f2f5;
	border-radius: 10px;
	background-color: #f0f2f5;
	font-family: '微软雅黑';
	height: 66px;
	width: 200%;
	line-height: 56px;
	font-size: 28px;
	-moz-transform: scale(.5, .5);
	-ms-transform: scale(.5, .5);
	-webkit-transform: scale(.5, .5);
	transform: scale(.5, .5);
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.tagg {
	float: left;
	width: 40%;
	height: 43px;
}

#child_tag,
#old_tag {
	margin-right: 10px !important
}

.tag_row .pipcker:active {
	background-color: #fff !important;
	color: #000;
}

.onselect,.onselect_l,.onselect_c {
	border-color: #f15353 !important;
	background-color: #fff !important;
	border-collapse: collapse;
}

.tag_row {
	margin: 8px 0;
	font-size: 14px;
	overflow: hidden;
	width: 100%
}

.tag_right {
	width: 100%;
}

.child .icon-yduijia,
.old .icon-yduijia {
	font-size: 14px;
	display: inline-block;
	text-align: center;
	line-height: 33px;
	width: 33px;
	height: 33px;
}


/*.tag_arr{
	position: relative;
}
.mui-icon-arrowdown{
	font-size: 14px;
    position: absolute;
    right: 18px;
    top: 10px;
}
.child_tag2_div .mui-icon-arrowdown,.old_tag2_div .mui-icon-arrowdown{
	right: 8px !important
}*/

.mui-numbox .mui-input-numbox,
.mui-numbox .mui-numbox-input {
	font-size: 14px;
}

.mui-numbox {
	border: 1px solid #f0f2f5;
}

.mui-numbox .mui-input-numbox,
.mui-numbox .mui-numbox-input {
	border-left: 1px solid #f0f2f5 !important;
	border-right: 1px solid #f0f2f5 !important;
}

.mui-btn-block {
	margin: 0 !important
}

.child a {
	display: inline-block;
	font-size: 12px;
	color: #007aff;
	line-height: 33px;
}

.tag_left span {
	display: inline-block;
	height: 31px;
	line-height: 31px;
	color: #fc5b3e;
	font-size: 16px;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #f0f2f5;
	margin: 8px 0
}
.zlgz{padding:5px 8px !important;margin-top: 0 !important}
.tag_btn .mui-btn {
	padding: 5px 12px !important;
	float: left;
	width: auto;
	margin: 7px 10px 0 0;
	background-color: #f0f2f5;
	border: 1px solid #f0f2f5;
	border-radius: 5px;
	font-size: 13px;
}

.tag_over {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

.tag_over div {
	width: 50%;
	float: left;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 16px;
}

#reset {
	background-color: #feefe8;
	color: #fe783a;
}

#tag_sure {
	background-color: #fc5b3e;
	color: #fff;
}

.mui-off-canvas-left,
.mui-off-canvas-right {
	width: 80%
}

.tips{
	position: absolute;
	z-index: 999999;
	background-color: rgba(0,0,0,0.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 40px 20px 20px 20px;
	color: #fff;
	display: none
}

.tips p,.tips span{
	color: #fff;
}
.tips span{
	font-size: 14px;
	color: #fc5b3e
}
.tips p{
	font-size: 12px;
	text-indent: 2em;
}
.tips_title{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
.tips_close{
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0
}
.tips_close .mui-icon{
	color: #fc5b3e;
	font-size: 36px;
}
.mui-active{
	z-index: 999999;
}
/*兼容性*/

@media screen and (max-width: 320px) {
	.choose .mui-btn {
		padding: 5px 10px;
		width: 29%;
	}
	.tag_btn .mui-btn {
		padding: 5px 8px !important;
		float: left;
		width: auto;
		margin: 7px 7px 0 0;
	}
}
