.appointment{margin-top: 5px;}
.appointment .select_icon {
    margin: 0 !important;
    position: relative;
    top: -28px;
    color: #ccc;
    font-size: 20px;
    right: 15px;
}
.appointment label{
    line-height: 1
}
.s_selcet {
    font-size: 14px;
    line-height: 40px;
    float: right;
    width: 72%;
}
.appointment label{font-size: 14px;width: 28%}
.appointment .mui-input-row label{padding: 13px 15px;line-height: 14px;}
.orderInfo,.serviceCharge,.pay_div,.details{
    width: 100%;
    margin-top: 5px;
    padding: 10px 15px;
    background-color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #e8ebf0
}
.appointment .mui-input{
    width: 72% !important
}
.mui-input-group:after{
    background-color: #e8ebf0;
}
.c_charge{
    margin: 10px auto;
    text-align: center;
}
.c_charge .scharge{
    width: 100px;
    color: #333;
    background-color: #f0f2f5;
    border: 1px solid #f0f2f5;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
}
.c_charge .scharge:first-child{
    margin-right: 5%;
}
.oncharge{
	background-color:#fecd40 !important;
	color: #fff !important;
}
.serviceCharge {
    margin: 0 auto;
}
.serviceCharge label{
    color: #fc5b3e
}
.pay_div{
	line-height: 40px;
	font-size: 16px;
	color: #333;
}
.icon-weixinzhifu{
	color: #00bb0c;
	font-size: 40px;
	line-height: 40px;
	margin-right: 10px;
}
.icon-gouxuan{
	color: #fecd40;
	font-size: 24px;
	line-height: 40px;
}
.tag_over {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.tag_over div {
    width: 50%;
    float: left;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
}
#reset {
    background-color: #fc5b3e;
    color: #fff;
}
#pay_sure {
    background-color: #fc5b3e;
    color: #fff;
    border-left: 1px solid #F58C79;
}
.details {margin-bottom: 54px;}
.details label{
	padding: 11px 0px;
	width: auto !important
}
.details .s_selcet{
	width: auto;
}
.details .mui-icon-arrowdown{
	position: relative;
	top: 5px;
}
.deatilsInfo{
	display: none
}
#all_m{
    color: #fc5b3e;
    font-size: 16px;
}
.mui-input-group .mui-input-row:after{
    left:0;
}
.c_text{
    display: none;
}
#scfw,#fwf{
    margin-right: 10px  !important;
    color: #fecd40;
    font-size: 20px;
    width: 20px;
    height: 20px;
}
#fwf{
    position: relative;
    top: -3px;
}
@media screen and (max-width: 320px) {
    .s_selcet {
        font-size: 14px;
        line-height: 40px;
        float: right;
        width: 68%;
    }
    .appointment label{font-size: 14px;width: 32%}
    .appointment .mui-input{
        width: 68% !important
    }
}