.mui-card-header{font-size: 14px;}
.pay{color: #fc5b3e;position: absolute !important;right: 0;padding: 0 20px;}
.getOrderDetail{color: #333;}
.choose {
	background-color: #fff;
	padding: 10px 15px;
}

.choose .mui-btn {
	float: left;
	width: auto;
	width: 20%;
	padding: 5px 2.5%;
	margin: 7px 15px 0 0;
	background-color: #f0f2f5;
	border: 1px solid #f0f2f5;
	border-radius: 5px;
	font-size: 13px;
}

.choose .mui-btn:active {
	background-color: #fff;
	color: #fc5b3e;
}

.choose .mui-btn:last-child {
	margin-right: 0
}
.choose .choosein_btn {
	color: #fc5b3e;
	background-color: #fff;
	border: 1px solid #fc5b3e;
}

.mui-card-header p{
	margin-bottom: 0
}
#pullrefresh {
    top: 108px;
    height: 100%;
    padding-bottom: 110px;
}
.mui-table-view{
	margin-top: 0;
	background: #efeff4;
	padding:15px;
}
.mui-card-content-inner{
	padding: 10px 15px 0  15px;
}
.mui-card{
	box-shadow: none;
	border:1px solid #c8c7cc;
	margin: 0 10px 10px 10px;
	border-radius: 5px;
}
.tips{
	position: absolute;
	z-index: 999999;
	top: 104px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
	text-align: center;
	display: none
}
.tips .mui-spinner{width: 24px;height: 24px;margin-top: 50%}

.packets_up{
	position: relative;
	height: auto;
	border-radius: 10px 10px 0 0;
}
.packets_up img{
	width: 100%;
	border-radius: 10px 10px 0 0;
	display: inline-block;
}
.packets_main{
	position: absolute;
	padding: 10px 10px 0 15px ;
	top: 0;
	left: 0;
	color: #fff;
	width: 100%;
}
.packets_main span{
	display: block;
}
.yxq{
	font-size: 12px;
	margin-top: 5px;
}
.packets_down{
	background: #fff;
	border: 1px solid #d4d3d8;
	border-top: none;
	min-height: 60px;
	padding: 10px 15px;
	margin-top: -20px;
	border-radius: 0 0 10px 10px;
}
.packets_main .mui-pull-right{
	position: absolute;
	right: 15px;
	top: 20px;
}
.mui-pull-right span font{
	font-size: 36px;
}
.packets_down p {
	margin-top: 15px;
	margin-bottom: 0;
	color: #939393;
}
.gouse{
	font-size: 12px;
	padding: 3px 8px;
	border: 1px solid #d4d3d8
}
#getPacketsList li{
	margin-bottom: 10px;
}
.packets{
	height: 100px;
}
.packets_left{
	width: 62%;
	background: #fff;
	height: 110px;
	border-radius: 10px 0 0 10px;
	padding:10px 0 10px 15px;
}
.packets_right{
	width: 38%;
	height: 110px;
	border-radius: 0 10px 10px 0;
	position: relative;
}
.packets_right img{
	width: 100%;
	height: 110px;
	border-radius: 0 10px 10px 0;
	position: absolute;
	top: 0;
	left: 0;
}
.packets_right span{
	font-size: 14px;
	position: absolute;
	color: #fff;
	top: 22%;
	left: 20%;

}
.packets_right span font{
	font-size: 36px;
}
.name{
	color: #fd573c;
}
.packets_left .mui-icon{
	font-size: 5px;
	color: #fd573c;
}
.packets_left p{
	font-size: 12px;
	display: inline-block;
	margin-bottom: 0;
}
.go{
	font-size: 14px;
	border: 1px solid #fff;
	position: absolute;
	bottom: 15px;
	left: 30%;
	color: #fff;
	border-radius: 5px;
	padding: 1px 6px;
}