
.card_main{padding: 15px;background-color: #fff}
img{width: 100%}
.mui-pull-right{margin-left: 5%}
.card_main .mui-card-footer{padding: 0}
.mui-table-view{margin: 0;width: 100%}
.mui-page .mui-table-view:last-child{margin-bottom: 0}
.mui-icon{color: #e3457d;margin: 4px 5px 0 0}
.cardbar{background: #fff;text-align: right;padding: 0 15px}

.card_info span{font-size: 14px;}
.card_info .cardbar span{font-size: 24px;}
.card_info .cardbar a{display:block;margin: 0 5px !important;padding: 7px 10px}
/*.card_info .cardbar a:first-child{margin-right: 0;padding-right: 0}*/
#card_more{display: none}
.cer_info .mui-table-view-cell{padding: 11px 0px !important;}
.cer_info .mui-table-view{margin: 0 !important;}
.cer_info .mui-table-view-cell:after{left: 0 !important;}
.rated_info .mui-card-header{font-size: 14px;}
.rated_info .mui-card-link{color: #6d6d72}

.rated_info .mui-card-link span{color: #e3457d;font-size: 16px}
#qcode_div{position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 270px;height: 270px;background-color: #fff;z-index: 999;margin: auto;overflow: hidden;}
#qcode_div canvas{padding: 10px}
.pop {
    border-radius:8px;
    margin-left: 10px;
    padding: 8px 15px;
    color: #000;
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
    background: #f0f2f5;
    position:relative;
}

.pop:after {
    content: '';
    display: block;
    position:absolute;
    top:10px;
    width:20px;
    height:20px;
    margin-left: -25px;
    pading-top: 10px;
    -webkit-transform: rotate(-60deg) skew(20deg, 20deg)  translate3d(0, 0, 0);
    -moz-transform: rotate(-60deg) skew(20deg, 20deg)  translate3d(0, 0, 0);
    -ms-transform: rotate(-60deg) skew(20deg, 20deg)  translate3d(0, 0, 0);
    -o-transform: rotate(-60deg) skew(20deg, 20deg)  translate3d(0, 0, 0);
    transform: rotate(-60deg) skew(20deg, 20deg)  translate3d(0, 0, 0);
    overflow:hidden;
    background: #f0f2f5;
}
.mui-table-view-cell:last-child:after{
    height: 1px;
}
.yy_bar{
    position: fixed;
    bottom: 0;
    height: 44px;
    width: 100%;
    background-color: #e3457d;
    color: #fff;
    text-align: center;
    line-height: 44px;
    z-index: 99

}
#returnup{
    padding-bottom: 50px;
}
.mui-bar .mui-btn-nav.mui-pull-right{
    margin-right: 0
}
.mui-toast-message{width: 150px;}
@media screen and (max-width: 320px) {
	#avatarUrl{
		width: 90px !important;
		height: 90px !important;
	}
	.pop{
		height: 90px;
	}
	p{
		margin-bottom: 5px;
	}
}

/*yuyue*/
.needs{
    background-color: #fff;
    margin-top: 5px;
    padding: 10px 15px;
    font-size: 14px;
}
.needs span{
    color: #e3457d;
}
.needs p{
    margin-bottom: 0 !important;
    margin-top: 5px;
}
.appointment{margin-top: 5px;}
.appointment .select_icon {
    line-height: 40px;
    margin: 0 15px 0 0 !important;
    position: relative;
    top: -40px;
    color: #ccc;
    font-size: 20px;
}
.appointment label{
    line-height: 1
}
.s_selcet {
    font-size: 14px;
    line-height: 40px;
    float: right;
    width: 72%;
}
.appointment label{font-size: 14px;width: 28%}
.appointment .mui-input-row label{padding: 13px 15px;line-height: 14px;}
#order {
    width: 100% !important;
    font-size: 14px;
    background-color: #e3457d;
    border-color: #F11764;
    margin-top: 20px;
    padding: 10px;
}
#order .mui-spinner{
    width: 19px;
    height: 19px;
    margin-top: -5px;
    position: relative;
    top: 5px;
}
#slider{margin-top: 10px;}
.details_info{
    margin-bottom: 45px;
}
.appointment .mui-input{
    width: 72% !important;
    font-size: 14px;
}